:root {

    --dark-color: #040b14;
    --blue-color: #149ddd;

}


body {

    font-family: 'Raleway', sans-serif;
}

.landing .header {

    background-color: var(--dark-color);
    min-height: 100vh;



}

.landing .portfolio {

    background: url(../css/images/hero-bg.jpg) top center;
    background-size: cover;

}




.landing ul {

    display: flex;
    align-items: center;
    justify-content: center;
}

.landing ul li {

    margin: 15px;
}

.landing ul li a {

    padding-left: 10px;
}

.landing ul svg {

    padding-right: 20px;
}

.header ul .home {

    color: #f8f9fa;
}

.portfolio {

    position: relative;

}

.portfolio .text {

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%);

}



.portfolio .text h1 {

    font-size: 5rem;
}

.portfolio .text p {
    font-size: 4rem;
    position: relative;
}

.portfolio .text p::after {

    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid green;
    left: 0;
    background-color: transparent;
    animation: typing 1.5s steps(10) infinite;

}

/* 
@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
} */


.header .copyright .boot {

    color: var(--blue-color);
}

.header .copyright {

    position: absolute;
    bottom: 30px;
    left: 50%;

    transform: translateX(-50%);
}

/* start about  */


.about .main-text h2 {

    position: relative;
}

.about .main-text h2::after {

    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: var(--blue-color);
    bottom: -20px;
    left: 45px;
    transform: translateX(-50%);
}


/* end about  */